.button-wrapper .btn-lg {
    margin-bottom:5px;
}
#meals-available-form input {
   width:95px;
}
#signature {
/* width: 100%; */
height: 100%;
/* margin-bottom: : 5px; */
border: 1px solid gray;
}
/* .col-centered{
    margin: 0 auto;
    float: none;
} */
