/*
* {border:1px dashed purple;}
*/
.button-wrapper .btn-lg {
    margin-bottom:5px;
}
#meals-available-form input {
   width:95px;
}
/* #startcounting-btn {
  margin-top: 10px;
} */
/* .card {
  margin-bottom: 5px;
} */

/* .container {
  margin-top: 5px;
} */
#meals-available-form .input-group-text{min-width: 210px;}
.display-5 {text-align: center;}
#card3-tabcontent .input-group {
	width:200px;
	margin:auto;
}
.secondary-counters .input-group-prepend {
	/*make the smaller buttons take up as much
	space as the larger buttons*/
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.secondary-counters .display-5 {margin-right:10px;width: 75px;}

#card3-tabcontent p {text-align: center;}
.btn-ctr {
	width: 200px;
    margin: 10px auto;
    text-align: center;
}