.button-wrapper .btn-lg {
    margin-bottom:5px;
}
#meals-available-form input {
   width:95px;
}
/* #startcounting-btn {
  margin-top: 10px;
} */
/* .card {
  margin-bottom: 5px;
} */

/* .container {
  margin-top: 5px;
} */
